#popular-tags{

}
#popular-tags li{
    padding-top: 10px;
    list-style: none;
}
#popular-tags li p a{
    color: #1a1d20;
    font-size: 20px;
}

#popular-tags > #block-12{
    display: flex;
    flex-direction: column;
}


.thumb-sidebar img{
    --color: rgb(57, 93, 81); /* the border color */
    --border: 5px;   /* the border thickness*/
    --offset: 20px;   /* control the offset*/
    --gap: 5px;       /* the gap on hover */

    --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),var(--color) 0;
    --_o: calc(3*var(--offset));

    padding:
            calc(var(--gap) + var(--border))
            calc(var(--gap) + var(--border) + var(--offset))
            calc(var(--gap) + var(--border) + var(--offset))
            calc(var(--gap) + var(--border));
    background:
            linear-gradient(      var(--_c)) var(--_o) var(--_o),
            linear-gradient(90deg,var(--_c)) var(--_o) var(--_o);
    background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
    background-repeat: no-repeat;
    filter: grayscale(.4);
    transition: .5s;
    cursor: pointer;
}
.thumb-sidebar img:hover{
    --color: #9d7c5b;
    background-position: 0px 0px;
    background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
    filter: grayscale(0);

}